body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(270deg, #90d6f4, #203a43, #2c5364);
    background-size: 600% 600%;
    animation: darkMove 15s ease infinite;
}

@keyframes darkMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#container-todolist {
    background: rgb(255, 255, 255);
    width: 600px;
    height: 700px;
    border-radius: 25px;
}